# ===================================
# IGNORE OBLIGATOIRE POUR CI4
# ===================================
/system/
/vendor/

# Fichiers de config d'environnement (Boot)
app/Config/Boot/development.php
app/Config/Boot/production.php
app/Config/Boot/testing.php

# Logs
writable/logs/log-*.php
!writable/logs/index.html

# Cache
writable/cache/*
!writable/cache/index.html
!writable/cache/.htaccess

# Sessions / Uploads / Debugbar
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
writable/debugbar/*
!writable/debugbar/index.html

# Documentation
user_guide_src/

# ===================================
# CLASSIQUES
# ===================================

# Dépendances
composer.lock

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Temporaires
*.tmp
*.log
*.bak
*.swp
*~